/* #44AF69 - medium sea green
#F8333C - salsa red
#FCAB10 - crayola yellow
#2B9EB3 - blue munsell
#DBD5B5 - dutch white */

body {
    font-family: 'Roboto Mono', monospace;
    /* background-color: black; */
    color: white;
    margin: 0px;
}

h1 {
    font-weight: 400;
    font-size: 100px;
    text-align: center;
    padding: 50px;
    margin: 0px;
}

h2 {
    font-size: 75px;
    text-align: center;
    margin: 0px;
}

.menu {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: center;
    background-color: black;
}

nav li {
    display: inline-flex;
    font-size: 1.5em;
    padding-right: 3em;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #2B9EB3;
    transition: 200ms;
    transform: translate(0, -2px);
}

.gardelLogo {
    width: 50px;
    align-items: center;
}

.gardelLogo:hover {
    transform: rotate(1turn);
    transition: 1.5s;
    transition-timing-function: ease-in-out;
}

/* #fullBandPhoto {
    max-width: 90%;
} */

.introContent {
    background-image: url("https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/312822367_10228797397020760_3754353643014589453_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=3b7ae0&_nc_ohc=HEnbfkKH1BMAX93jNVV&_nc_ht=scontent-iad3-2.xx&oh=00_AT_DDmi7eVr-8AhcnxxEmVGwaHG0IJsMvZ2OcWYO5PZHig&oe=635CBAD7");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 300px;
    background-position-y: center;
}

.introContent p {
    font-size: 3em;
    font-weight: 300;
    opacity: 1;
}

.aboutBand div {
    background-image: url("https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/236309041_678393236441267_7992929386329314258_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=NJr3w0HGM3UAX8g4d04&_nc_ht=scontent-iad3-2.xx&oh=00_AfDcLAwqQkqSFBMnpA7Rs6LCZegQryR9RtaRZW7jlizRrA&oe=63605D3D");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 300px;
    background-position-y: top;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutBand p {
    font-weight: 400;
    font-size: 2em;
    margin: 3em;
}

/* .bandImg {
    display: flex;
    justify-content: center;
} */

.music {
    background-image: url("https://scontent-iad3-2.xx.fbcdn.net/v/t39.30808-6/312909302_10228797431741628_2768536362899170228_n.jpg?stp=dst-jpg_s600x600&_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=uzcBfJHobJkAX8Yr11g&tn=HeDUMjhYoB1kCXUX&_nc_ht=scontent-iad3-2.xx&oh=00_AfDOWMk8wD3506gsYE4uMq1ItvCF6JpjKwekROCHQ4EakQ&oe=635EA603");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 300px;
    background-position-y: center;
}

#music img,
#about img {
    max-width: 40%;
    padding: 5px;
}

.contact {
    background-image: url("https://i.scdn.co/image/ab6761610000e5eb0337dd472449b2418d059552");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 800px;
    background-position-y: top;
    color: black;
}